<h1>
  {{title}}
</h1>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<br>
<app-diretiva-ngcontent>
  <div class="titulo">
    titulo do content
  </div>
  <div class="corpo">
    Conteudo da ngcontent
  </div>
  <span class="titulo"> junta-se no titulo</span>
</app-diretiva-ngcontent>

<app-diretivas-customizadas></app-diretivas-customizadas> 